@model IEnumerable<Client.Domain.Orderline>

@{
    ViewBag.Title = "Kurv";
}

<h2>Kurv</h2>

@if (Model != null) {
    foreach (var item in Model) {
        <div>
            <p>
                <a href="@Url.Action("Index", "ProductView", new { id = item.Product.ID })">
                    <img border="0" alt="W3Schools" src="@item.Product.Images[0].ImageSource" width="100" height="100">
                </a>
            </p>
            <p>
                <b>@item.Product.Name</b>
            </p>
            <p>
                <i>@item.SubTotal DKK </i>
            </p>
            <p>
                <b>Quantity: <span id="qty" name="quantity">@item.Quantity</span> </b>


            </p>

            <div class="container">

                <p>

                    <a href="@Url.Action(" UpdateOrderlineQuantity", "ShoppingCart" , new { id=item.Product.ID, url=this.Request.RawUrl })">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </p>

            </div>
        </div>
    }
}

<button type="button" onclick="location.href= '@Url.Action("Information", "Buy")'">Checkout</button>
