@model Client.Domain.Product
@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Produkt</title>
    <link rel="stylesheet" href="/Content/Site.css" />
</head>

<body>
    <div id="ProductViewDetails">
        <img src="@Model.Images[0].ImageSource" width="500" height="450">
        <div id="ProductViewDetailsInfo">
            <h1 class="boldText">@Model.Name</h1>
            <h2 class="boldText">Pris @Model.Price DKK</h2>
            <h2 class="boldText"> Antal </h2>

            <form action="/ShoppingCart/AddProduct/@Model.ID" method="post">
                <input id="id" name="id" value="@Model.ID" hidden />
                <input id="price" name="price" value="@Model.Price" hidden />
                <input id="quantity" name="quantity" type="number" value="1" style="width:40px; text-align:center;" />
                <button class="add-button" type="submit">Tilføj til kurv</button>
            </form>

            <h2 class="boldText"> Beskrivelse </h2>
            <h3> @Model.Description</h3>
        </div>


    </div>

</body>

